In [1]:
from datetime import datetime
import time
import pandas as pd
import numpy as np
import pickle

In [2]:
def read_pickle(filename):
    with open(filename+".pkl", 'rb') as read_file:
        obj = pickle.load(read_file)
        return obj

In [3]:
column_headers = ['Restaurant Name', 'Rating', 'Number of Reviews', 'Price Range', 'Food Type',
                 'Number of Photos', 'Mon Hours', 'Tue Hours', 'Wed Hours', 'Thu Hours', 
                  'Fri Hours', 'Sat Hours', 'Sun Hours']

In [4]:
rest_data_list_1 = read_pickle('rest_data_1')
rest_data_list_2 = read_pickle('rest_data_2')
rest_data_list_3 = read_pickle('rest_data_3')
rest_data_list_4 = read_pickle('rest_data_4')

In [5]:
df_1 = pd.DataFrame(rest_data_list_1, columns=column_headers)
df_2 = pd.DataFrame(rest_data_list_2, columns=column_headers)
df_3 = pd.DataFrame(rest_data_list_3, columns=column_headers)
df_4 = pd.DataFrame(rest_data_list_4, columns=column_headers)

In [10]:
df = pd.concat([df_1, df_2, df_3, df_4], ignore_index=True)

In [83]:
df.iloc[0]['Mon Hours']

,Restaurant Name,Rating,Number of Reviews,Price Range,Food Type,Number of Photos,Mon Hours,Tue Hours,Wed Hours,Thu Hours,Fri Hours,Sat Hours,Sun Hours
0,Las Palmas Restaurant,4,155,1.0,Mexican,147,8:00 am - 12:00 am,8:00 am - 12:00 am,8:00 am - 12:00 am,8:00 am - 12:00 am,8:00 am - 12:00 am,8:00 am - 12:00 am,8:00 am - 12:00 am
1,Wei Mei Xian,4,13,1.0,Chinese,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pattie Hut & Grill,4,58,1.0,Caribbean,39,8:00 am - 11:00 pm,8:00 am - 11:00 pm,8:00 am - 11:00 pm,8:00 am - 11:00 pm,8:00 am - 11:00 pm,8:00 am - 11:00 pm,Closed
3,ROLLN,4.5,74,1.0,"Japanese, Sushi Bars, Desserts",120,11:00 am - 9:00 pm,11:00 am - 9:00 pm,11:00 am - 9:00 pm,11:00 am - 9:00 pm,11:00 am - 9:00 pm,11:00 am - 9:00 pm,11:00 am - 9:00 pm
4,S Wan Cafe 洋紫荆,4.5,119,1.0,"Chinese, Hong Kong Style Cafe",140,7:30 am - 6:30 pm,7:30 am - 6:30 pm,7:30 am - 6:30 pm,7:30 am - 6:30 pm,7:30 am - 6:30 pm,7:30 am - 6:30 pm,Closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,La Coquille,3.5,63,4.0,French,113,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 11:00 pm,5:00 pm - 11:00 pm,4:00 pm - 10:00 pm
1076,Gari Columbus,4,323,4.0,"Sushi Bars, Japanese",321,Closed,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 10:45 pm,12:00 pm - 10:00 pm
1077,Sushi Ryusei,4.5,79,4.0,"Sushi Bars, Japanese",348,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,5:30 pm - 11:00 pm,Closed
1078,Sushi Mikasa,3,78,4.0,Sushi Bars,46,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am
1079,Il Villagio,4,45,4.0,Italian,20,Closed,11:30 am - 10:00 pm,11:30 am - 10:00 pm,11:30 am - 10:00 pm,11:30 am - 11:00 pm,4:00 pm - 11:00 pm,3:00 pm - 9:30 pm

In [205]:
def calculate_open_time(t):
    t1 = t.split('-')[0].replace(' ','')
    t2 = t.split('-')[1].replace(' ','')
    tm1 = pd.to_datetime(t1, format="%I:%M%p")
    tm2 = pd.to_datetime(t2, format="%I:%M%p")
    res = tm2 - tm1
    diff_time = res.days, res.seconds//3600, (res.seconds//60)%60
    diff_decimal = diff_time[1]+((diff_time[2])/60)
    return diff_decimal