In [1]:
from collections import defaultdict
import numpy as np

In [2]:
letterCount = defaultdict(lambda: int())

In [ ]:
string = "ABCcc"
string = string.lower()

In [ ]:
for s in string:
    letterCount[s]+=1

In [3]:
letterCount

defaultdict(<function __main__.<lambda>()>, {})

In [ ]:
Xd = np.array([[2, 4], [0, 1]])
yd = np.array([8, 3])
wd = np.array([-2, 3])
Xd.dot(wd)               # confirm
np.linalg.solve(Xd, yd)  # find

In [ ]:
string

In [ ]:
sums = 0
for a in range(1, 27):
    for b in range(1, 27):
        if b!=a:
            for c in range(1, 27):
                if b!=a:
                    sum =

In [12]:
string = "Good luck in the Facebook Hacker Cup this year!"
for s in string:
    if(ord(s)>= 97 and ord(s)<=122):
        letterCount[s]+=1   
string

'Good luck in the Facebook Hacker Cup this year!'

In [13]:
letterCount

defaultdict(<function __main__.<lambda>()>,
            {'o': 4,
             'd': 1,
             'l': 1,
             'u': 2,
             'c': 3,
             'k': 3,
             'i': 2,
             'n': 1,
             't': 2,
             'h': 2,
             'e': 4,
             'a': 3,
             'b': 1,
             'r': 2,
             'p': 1,
             's': 1,
             'y': 1})

In [ ]:
chr(64)

In [ ]:
ord('z')

In [3]:
import pickle

In [4]:
def read_pickle(filename):
    with open(filename+".pkl", 'rb') as read_file:
        obj = pickle.load(read_file)
        return obj

lst = read_pickle('rest_data_4')

In [6]:
column_headers = ['Restaurant Name', 'Rating', 'Number of Reviews', 'Price Range', 'Food Type',
                 'Number of Photos', 'Mon Hours', 'Tue Hours', 'Wed Hours', 'Thu Hours', 
                  'Fri Hours', 'Sat Hours', 'Sun Hours']

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array(lst), columns=column_headers)
df.head(180)

,Restaurant Name,Rating,Number of Reviews,Price Range,Food Type,Number of Photos,Mon Hours,Tue Hours,Wed Hours,Thu Hours,Fri Hours,Sat Hours,Sun Hours
0,Shun,5,18,4,"French, Japanese",132,Closed,5:30 pm - 10:00 pm,5:30 pm - 10:00 pm,5:30 pm - 10:00 pm,5:30 pm - 10:30 pm,5:30 pm - 10:30 pm,Closed
1,Eleven Madison Park,4.5,2081,4,"American (New), French, Cocktail Bars",7887,5:30 pm - 10:00 pm,5:30 pm - 10:00 pm,5:30 pm - 10:00 pm,5:30 pm - 10:30 pm,12:00 pm - 1:00 pm,12:00 pm - 1:00 pm,12:00 pm - 1:00 pm
2,Atera,4.5,245,4,American (Traditional),1428,Closed,6:00 pm - 10:30 pm,6:00 pm - 10:30 pm,6:00 pm - 10:30 pm,6:00 pm - 10:30 pm,1:30 pm - 10:30 pm,Closed
3,Gramercy Tavern,4.5,2807,4,American (New),4805,11:30 am - 11:00 pm,11:30 am - 11:00 pm,11:30 am - 11:00 pm,11:30 am - 11:00 pm,11:30 am - 12:00 am,11:30 am - 12:00 am,11:30 am - 11:00 pm
4,Daniel,4.5,1548,4,"French, American (Traditional), Cocktail Bars",3170,5:30 pm - 11:00 pm,5:30 pm - 11:00 pm,5:30 pm - 11:00 pm,5:30 pm - 11:00 pm,5:30 pm - 11:00 pm,5:30 pm - 11:00 pm,Closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,La Coquille,3.5,63,4,French,113,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 10:00 pm,5:00 pm - 11:00 pm,5:00 pm - 11:00 pm,4:00 pm - 10:00 pm
176,Gari Columbus,4,323,4,"Sushi Bars, Japanese",321,Closed,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 2:00 pm,12:00 pm - 10:45 pm,12:00 pm - 10:00 pm
177,Sushi Ryusei,4.5,79,4,"Sushi Bars, Japanese",348,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,12:00 pm - 2:15 pm,5:30 pm - 11:00 pm,Closed
178,Sushi Mikasa,3,78,4,Sushi Bars,46,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am,5:00 pm - 12:00 am
179,Il Villagio,4,45,4,Italian,20,Closed,11:30 am - 10:00 pm,11:30 am - 10:00 pm,11:30 am - 10:00 pm,11:30 am - 11:00 pm,4:00 pm - 11:00 pm,3:00 pm - 9:30 pm